@import "partials/text";
@import "partials/colors";
@import "partials/variables";

section {
  margin: 5px auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 480px;

  .display-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height:170px;
    max-width: 480px;
    padding: 0 22px;
    font-size: 40px;
    color: $white;
    background: linear-gradient(72.12deg, #29BB75 0%, #90DC66 100%);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    p { padding-right: 10px; margin: 0; }

    input {
      font-size: 40px;
      color: $white;
      height: 60px;
      width: 100%;
      text-align: right;
      border: 0;
      outline: none;
      background: transparent;
      font-family: $main-font;

      &.long { font-size: 20px; }
    }
  }
}


button {
  cursor: pointer;
  color: $button-gray;
  background-color: transparent;
  float: left;
  width: 25%;
  margin: 0;
  border: 0;
  font-size: 60px;
  height: 120px;
  border-radius: 70px;
  outline: none;
  font-family: $main-font;
  @include hover-transition;

  &:hover {
    background: linear-gradient(72.12deg, #29BB75 0%, #90DC66 100%);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 70px;
    color: $white;
  }
}

.buttons-wrapper {
  background-color: $white;
  width: 100%;
  height: 100%;
  max-height: 480px;
  max-width: 480px;
  background: #FAFAFA;
  box-shadow: 0px 0px 44px rgba(0, 20, 35, 0.2);
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
}
