@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

$main-font: 'Poppins', sans-serif;

//FONT SIZES ( 1rem = 10px )
$font-size-title-home-page: 3.5rem;
$font-size-title: 2.8rem;
$font-size-giant: 2.2rem;
$font-size-extra-large: 2rem;
$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-regular: 1.4rem;
$font-size-small-regular: 1.3rem;
$font-size-small: 1.2rem;
$font-size-extra-small: 1rem;
$font-size-tiny: 0.8rem;

//FONT WEIGHTS
$font-weight-bold: 700;
$font-weight-semi-bold: 500;
$font-weight-normal: 400;
$font-weight-thin: 300;
